<section class="job">
    <div class="title">
        <h2><a id="job-title-link" href="/job/{{id}}">{{title}}</a></h2>
    </div>

    <div class="content">
        <p>{{status}}</p>
        <p>{{salary}}</p>
        <p>{{location}}</p>
        <p>{{notes}}</p>
    </div>
</section>