<div class="row">
    <div class="col-auto">
        <h2>Welcome, {{name}}!</h2>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-6">
        <h3>Create a New Job:</h3>

        <form class="form new-job-form">
            <div class="form-group">
                <label for="job-title">Job Title:</label>
                <input class="form-input" type="text" id="job-title" name="job-title" />
            </div>
            {{!-- Form group for status to be added. --}}
            <div class="form-group">
                <label for="job-salary">Salary:</label>
                <textarea class="form-input" id="job-salary" name="job-salary"></textarea>
            </div>
            <div class="form-group">
                <label for="job-location">Location:</label>
                <textarea class="form-input" id="job-location" name="job-location"></textarea>
            </div>
            <div class="form-group">
                <label for="job-notes">Notes:</label>
                <textarea class="form-input" id="job-notes" name="job-notes"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Add Job</button>
            </div>
        </form>
    </div>

    {{#if jobs.length}}
    <div class="col-md-6 job-list">
        <h3>Existing Jobs:</h3>

        {{#each jobs as |job|}}
        <div class="row mb-2">
            <div class="col-md-8">
                <h4><a href="/post/{{job.id}}">{{job.title}}</a></h4>
                <p>{{job.location}}</p>
                <p>{{job.salary}}</p>
            </div>
            <div class="col-md-4">
                <button class="btn btn-sm btn-danger" data-job-id="{{job.id}}">Delete</button>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>

<script src="../public/js/dashboard.js"></script>