<div class="row col-auto">
    <h2>Welcome, {{username}}!</h2>
</div>

{{#if jobs.length}}
<div class="col-md-6 job-list">
    <h3>Prospective Jobs:</h3>

    <table style="width:100%" id="table-spacing" class="jobTable">
        <thead style="text-align:left">
            <tr>
                <th>Job Title</th>
                <th>Status</th>
                <th>Salary</th>
                <th>Location</th>
                <th>Notes</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {{#each jobs as |job|}}
            <tr class="col-md-8">
                <td><a href="/job/{{job.id}}/modify">{{job.title}}</a></td>
                <td>{{formatWithCurrentDate job.status}}</td>
                <td>{{convertToSalary job.salary}}</td>
                <td>{{job.location}}</td>
                <td>{{job.notes}}</td>
                <td>{{job.actions}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{/if}}

<a href="/createJob"><button id="new-job-btn">+ New Job</button></a>